.root {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

button {
  padding: 10px 15px;
  font-size: 20px;
}

.guest {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  justify-content: space-between;

}
.guest button {
  background: #ec7777;
  padding: 10px 15px;
  font-size: 20px;
  color: white;
}